!!! Strict
%html
  %head
    %title PDXHub.org
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/screen.css'}
    %script{:type=>'text/javascript', :src=>'/js/frank.js'}
  %body
    #wrapper
      = yield